body {
    background-color: #a3b18a;
}

header {
    text-align: center;
    padding-bottom: 100px;
    font-size: xx-large;
}

#container {
    background-color: #3a5a40;
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 15px;
    border-radius: 10%;
    text-align: center;
    color: white;
}

#info-pessoal {
    height: 250;
    padding: 20px 20px;
}


#perfil {
    display: inline-block;
    width: 200px;
    /* text-align: center; */
   
}

#perfil > img {
    border-radius: 50%;
    width: 150px;
}

#descricao {
    font-family: monospace;
    display: inline-block;
    width: 556px;

}


h3, h2{
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
}


#habilidades {
    /* background: rgb(17, 202, 202); */
    margin-top: 55px; 
}

.item1, .item2, .item3, .item4, .item5 {
    font-size: 17px;
}

ul {
     list-style-type: none; 
     margin-left:-40px;   
}

li {
    margin: 5px 0;
}

a {
    color: #dad7cd;
    text-decoration: none;
}

#indice {
    margin-top: 50px; 
}

.not-active {
    pointer-events: none;
    text-decoration: line-through;
    cursor: default;
}



