header {
    text-align: center;
    padding-bottom: 100px;
    font-size: xx-large;
}

#container {
    background-color: rgb(11, 102, 23);
    width: 700px;
    height: 700px; 
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10%;
    text-align: center;
    color: white;
}


#perfil > img {
    margin-top: -50px; 
    border-radius: 50%;
    width: 150px;
    height: 150px;

}


#nome > h3{
    font-weight: bold;
}



#habilidades {
    /* background: rgb(17, 202, 202); */
    padding-top: 5px; 
}

#habilidades > ul {
     list-style-type: none; 
     margin-left:-40px;
    
}

#habilidades > strong > a {
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
}