* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  background-color: #252525;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

.header {
  /* height: 20px; */
  display: flex;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid white;
  background-color: #252525;
  z-index: 10;
}

.menu-header {
  width: 45%;
  border: 1px solid red;
  width: 43%;
  font-size: 18px;
}

.menu-header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links {
  margin: 0 20px;
  margin: 0 15px;
}

.nav-links a {
  /* padding: 0 10px 0 10px; */
  text-decoration: none;
  opacity: 0.8;
  color: #FFFFFF;
  transition: opacity 20ms ease-in;
  -webkit-text-stroke-color: rgba(#FFFFFF, 0.5);
  /* line-height: 64px; */
  opacity: 0.5;
  position: relative;
  &::before {
    content: "";
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    top: calc(50% + 1em);
    width: 0%;
    left: 50%;
    transition: all 300ms ease;
  }
  &:hover {
    &::before {
      width: 50%;
      left: 25%;
    }
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }
}


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-links a:hover {
  opacity: 1;
}
.section-space {
  margin-top: 70px;
}

section.about-me {
  margin-top: 200px;
}

.about-me {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 30px 5px;
  margin-bottom: 70px;
}

.container-img-perfil {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.img-perfil {
  width: 100%;
  height: 300px;
  border-radius: 100%;
}

.container-img-perfil::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 307px;
  height: 307px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -1;
  transform: translate3d(0px, 0px, 0) scale(0.95);
  filter: blur(15px);
  transition: opacity 0.3s;
  animation-name: rotate1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}&[data-anim="1"] {
  &::before {
    animation-name: rotate2;
    animation-duration: 3s;
  }
}

@keyframes rotate1 {
  0% {transform: translate3d(0px, 0px, 0) scale(0.95) rotate(0deg);opacity: 1;}
  29% {transform: translate3d(0px, 0px, 0) scale(0.95) rotate(0deg);opacity: 0.3;}
  50% {transform: translate3d(0px, 0px, 0) scale(1) rotate(180deg);opacity: 0.5;}
  54% {transform: translate3d(0px, 0px, 0) scale(1.1) rotate(180deg);opacity: 0.4;}
  85% {transform: translate3d(0px, 0px, 0) scale(0.95) rotate(220deg);opacity: 0.8;}
  100% {transform: translate3d(0px, 0px, 0) scale(0.95) rotate(360deg);opacity: 1;}
}

.about-me-text {
  width: 50%;
}

p.subtitle {
  opacity: 0.5;
  font-size: 18px;
}

.title, .title-separator {
  font-size: 50px;
}

.paragraph {
  font-size: 18px;
}

.separator {
  background-color: #333333;
  width: 100%;
  height: 130px;
}

.title-separator {
  margin-left: 30px;
  line-height: 130px;
}

.section-skills {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 70px auto;  
}

.descriptions {
  width: 35%;
}

.title-description-skills {
  display: inline-block;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.paragraph-description-skills {
  font-size: 16px;
  padding: 5px 0;
}

.bar {
  position: relative;
  border: 1px solid #444444;
  width: 400px;
  border-radius: 10px;
  padding: 5px;
  margin: 50px 0;
}

.fill-bar {
  background-color: #007CED;
  border: none;
  width: 50%;
  height: 5px;
  border-radius: 10px;
}

.skill-name {
  position: absolute;
  top: -25px;
}

.skill-percent {
  position: absolute;
  font-size: 14px;
  opacity: 0.7;
  right: 1px;
  top: -25px;
}

.html {
  width: 100%;
}

.javascript {
 width: 70%;
}

.css {
  width: 80%;
}